#siteColumns2{
    background-color: #1E2861;
}

h3{
    color: black;
    font-weight: bold;
}

h5{
    color: white;
}

.btn{
    background-color: #806B67;
    border-color: black;
    color: white;
    font-weight: bold;
    transition: 500ms;
    &:hover{
        transform: scale(1.2)
    }
    
}
