.carrousel-personalizado {
	background-color: black;
	padding: 30px;
  }
  
  .btn-primary {
	color: white;
    font-weight: bold;
	font-style: italic;
	background-color: #992323;
	border-color: white;
  }
  .btn-primary:hover {
	background-color: white;
	color: #992323;
    font-weight: bold;
    border-color: #992323;
}

.badge{
	transition: 2s;
	
	&:hover{
		transform: scale(105%);
		background-color: grey;
		color: white;
	}
} 