.footer{
    border-top: double;
    color: grey;
    background-image: linear-gradient(90deg, rgba(30,40,97,1) 0%, rgba(255,255,255,1) 50%, rgba(153,35,35,1) 100%);
    font-weight: bold;
}a{
    transition: 1s;
}

.footer a:hover{
    transform: scale(1.1);
}

@media (min-width: 200px) {
	.footer a{
		font-size: 6px;
	}
}

@media (min-width: 767px) {
	.footer a{
		font-size: 14px;
	}
}

@media (min-width: 1400) {
	.footer a{
		font-size: 20px;
	}
}