.titleAboutus{
		margin: 20px;
		padding: 0px;
	    font-weight: bold;
	    font-style: italic;
	    font-size: 35px;
	    line-height: 60px;
	    color: #1E2861;
		
}

.textAboutus{
		margin: 10px;
		padding: 10px;
		line-height: 20px;
		word-spacing: 2px;
		font-size: 12px;
		font-style: italic;
}

.bg-container{
		min-height: 80vh;
		font-weight: bold;
}
.borderColumn{
		
		color: grey;
		margin-bottom: 100px;
		margin-top: 40px;
		padding: 90px;
		transition: 3s;
		border-left: groove 2px;
		border-bottom:  2px groove;
		overflow: hidden;
			
    }







