.titleAboutus{
	    font-weight: bold;
	    font-style: italic;
	    font-size: 35px;
	    line-height: 4px;
	    color: #1E2861;
}
.textAboutus{
	line-height: 20px;
	word-spacing: 2px;
	font-size: 12px;
	font-style: italic;
}

.bg-container{
	min-height: 80vh;
	font-weight: bold;
}
.borderColumn{
	color: grey;
	margin: 4px;
	transition: 3s;
	border-left: solid 2px grey;
	border-bottom:  2px grey groove;
    &:hover{
        transform: scale(1.1);
        overflow: hidden;
    }
}


